In [2]:
import pandas as pd

In [3]:
x = {'Mobile':['iPhone','Redmi','Vivo','Samsumg','Nokia','Infinix'],
            'Rating':[1,3,2,5,15,6],
            'Price':[75000,15000,15000,10000,1500,12000],
            'Color':['White','Black','Mat_Black','Blue','Black','Blue']}

In [4]:
x

{'Mobile': ['iPhone', 'Redmi', 'Vivo', 'Samsumg', 'Nokia', 'Infinix'],
 'Rating': [1, 3, 2, 5, 15, 6],
 'Price': [75000, 15000, 15000, 10000, 1500, 12000],
 'Color': ['White', 'Black', 'Mat_Black', 'Blue', 'Black', 'Blue']}

In [5]:
pd.DataFrame(x)

    Mobile  Rating  Price      Color
0   iPhone       1  75000      White
1    Redmi       3  15000      Black
2     Vivo       2  15000  Mat_Black
3  Samsumg       5  10000       Blue
4    Nokia      15   1500      Black
5  Infinix       6  12000       Blue